<nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">AMAZON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul>

  </ul>
</nav>

<div class="row mt-5 mb-4">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img class="img-fluid mb-4"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png"
        alt="" />
     
      <a href="/users/register" class="btn btn-success btn-block mb-4 mt-4">Register</a>
      <a href="/users/login" class="btn btn-info btn-block">Login</a>
    </div>
  </div>
</div>


<footer class="page-footer font-small bg-dark" style="margin-top: 75px;">
  <div style="font-size: large;" class="footer-copyright text-light text-center py-3">© 2021 Copyright
  </div>
</footer>
